apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: "2023-11-04T10:04:08Z"
  labels:
    run: test-sample
  name: test
  namespace: sample-replica-mangaal
spec:
  replicas: 1
  selector:
    matchLabels:
      run: test
  template:
    metadata:
      labels:
        run: test
    spec:
      serviceAccountName: replica-controller-sa  # Set the desired service account name
      containers:
      - image: mangaaldochub/myappdeployment:v1
        imagePullPolicy: IfNotPresent
        name: test
